html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,dl,dd,dt,pre{
  margin: 0;
  padding: 0;
}
a{
  color: #333;
  text-decoration: none;
}
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width:1px;
  height:1px;
  background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.3);
  border-radius:10px;
  background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius:1px;
  -webkit-box-shadow:inset 0 0 1px #ddd;
  background-color:var(--el-border-color);
}
.el-breadcrumb {
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
  padding: 20px;
  background: #faf7f7;
}

#container-box{
  padding: 20px;
}